/* prevent popup hover */
.mwe-popups {
    pointer-events: none;
}

/* hide inaccessible settings gear */
.mwe-popups .mwe-popups-settings-icon {
    display: none;
}

/* reset spacing made for settings gear */
.mwe-popups.mwe-popups-is-not-tall:not(.mwe-popups-type-disambiguation) .mwe-popups-extract {
    margin-bottom: 16px;
}
